# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common used libraries for Data Science
- List development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. Julia
    4. Skala

Some of the commonly used libraries used by Data Scientists include:
    1. Matplotlib
    2. Pandas
    3. Numpy
    4. Scikitlearn
    5. PyTorch

| Data Science Tools |
|---|
| Watson Studio Desktop |
| RStudio |
| Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Marcus